
                            	<div class="container padding-bottom-3x mb-2 mt-5">
                                    <div class="row justify-content-center">
                                      <div class="col-lg-8 col-md-10">
                                        
                                          
                                        <div class="forgot" *ngIf="!error">
                                            
                                            <h2>Congratulations!</h2>
                                        <p>Your email is verified now and you are good to contine, again we are happy to welcome you</p>
                                      
                              
                                        </div>	
                                        <div class="forgot" *ngIf="error">
                                            
                                            <h2>Ooops</h2>
                                        <p>An error has occured and your email didnt verify</p>
                                      
                              
                                        </div>	
                                        
                                      </div>
                                    </div>
                                  </div>